.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btns {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #888;
  box-sizing: border-box;
  padding: 10px;
}
.icons {
  cursor: pointer;
}
